<div class="bm">
  <h3 class="bm__heading">
    Blogmark
  </h3>
  <div class="bm__favicon">
    <label>Favicon</label>
    <img [src]="currentTab?.favIconUrl ?? 'assets/icons/bookmark.png'" alt="favicon" />
  </div>

  <div class="bm__info">
    <div class="bm__input-group">
      <label>Name</label>
      <input [value]="currentTab?.title ?? 'Bookmark it! does not support'">
    </div>

    <div class="bm__input-group">
      <label>Location</label>
      <ng-select *ngIf="bookmarkFolderList.length > 1" [items]="bookmarkFolderList" bindLabel="title" bindValue="id"
        [(ngModel)]="selectedFolderId" placeholder="Select | press key for autocomplete"></ng-select>
    </div>

  </div>

  <div class="bm__btns">
    <button class="btn btn--gray" (click)="close()">Cancel</button>
    <button class="btn btn--red" *ngIf="currentBookmark" (click)="removeBookmark()">Remove</button>
    <button class="btn btn--green" *ngIf="!currentBookmark" (click)="addBookmark()">Save</button>
  </div>

</div>